@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
}

h1{
    color: mediumblue;
    background-color: aqua;
}

h2{
    color: brown;
}

p{
    text-align: justify;
}