@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c3a7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8e7261f9;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 1px 2px  #b96f07d7;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}